page-login {
  
    .content .inputs .list{
      border: none;    
    }
  
    .content .inputs .list .item, 
    .content .inputs .list .item-inner{
      background: transparent;  
      border: none;    
      
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .content .btn-skip {
      text-align: left;
      flex: 1;
    }
    .content .btn-skip ion-icon{
      top: 0;
    }
    .content .btn-skip img{
      width: 80%;
    }
    .ion-ios-arrow-dropleft-circle {
      color: #fff;
      font-size: 30px;
    }
    .input-wrapper{
      margin-bottom: 10px;
      border: 1px solid #fff;
      border-radius: 120px;
      padding-left: 10px;    
      color: #fff;
    }
    .label-md,
    .label-ios{
      color: #fff;
    }
    .content .btns{
      text-align: center;
      padding-bottom: 20%;
    }
    .content .btns button{
      background: rgba(255,255,255,.1);
      padding-top: 23px;
      padding-bottom: 23px;
      font-size: 20px;
      font-weight: bold;
      
      color: #fff;
      border: none;
      width: 70%;
      box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    }
  }