page-before-login {
  
  .content a{
    text-decoration: none;
    background: rgba(255,255,255,.04);
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    border: none;
    width: 70%;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    
  }
  .content .before-btns{
    flex: 1;
  }
  .content .btns{
    text-align: center;
    padding-bottom: 20%;
  }
  .content .btns button{
    background: rgba(255,255,255,.1);
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 20px;
    font-weight: bold;
    
    color: #fff;
    border: none;
    width: 70%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  }

}
