page-home {
  .chip {
    position: absolute !important;
    background: #fff;
    left: 10px;
    color: #141e30;
    z-index: 9999999999;
  }
  .chip-md {
    top: 12%;
  }
  .chip-ios {
    top: 8%;
  }
}