page-intro {
    .item_slide{
        }
        .item_slide img{
         padding:20px;
        }
        .item_slide h2,
        .item_slide h2 a{
            color: rgb(44,62,80);
            font-weight: bold;
        }
      
}
